{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>À propos</h1>

        <p>
            Cards Against Equestria est un clone de <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>.<br/>
            Cards Against Humanity est une marque déposée de Cards Against Humanity LLC. Ce clone n'est pas approuvé
            ou commandité par Cards Against Humanity LLC.
        </p>

        <p>
            Ce serveur est hébergé par <a href="http://mlp.quebec/">MLP Québec</a>. Vous devriez les remercier.
        </p>

        <h2>Auteurs</h2>
        <p>
            Cards Against Equestria a été écrit par Rylius.<br/>
            Vous pouvez le stalker sur Twitter <a href="https://twitter.com/rylius">Twitter</a> ou regarder son stupide
            <a href="http://rylius.de/">blog</a> mort.
        </p>
        <p>
            L'interface a été traduite par un certain Julien "Juju" Savard.<br/>
            Vous savez où le trouver. Sinon vous pouvez toujours lui envoyer des obsénités sur
            <a href="https://twitter.com/juju2143">Twitter</a> et <a href="http://toasters.rocks/">Tumblr</a>.
        </p>

        <h2>Remerciments de l'auteur</h2>
        <ul>
            <li>
                The Regulars crew. You know who you are.
                <i class="icon-heart"></i>
            </li>

            <li>
                <a href="https://github.com/ajanata">Andy Janata</a> for creating
                <a href="http://pyx.socialgamer.net/">Pretend You're Xyzzy</a>, a major inspiration to this site.
                Also used their SQL script to create card decks.
            </li>
        </ul>

        <h2>Remerciments de la traduction</h2>
        <ul>
            <li>
                Les joyeux lurons de Québec Bronies. Je vous aime.
                <i class="icon-heart"></i>
            </li>

            <li>
                Mari San, Léa Wave et le reste de la team du pack Cards Against Québec Bronies, pour qui j'ai décidé de 
                travailler sur ce site pour qu'on puisse y jouer en ligne. Good job, guys.
            </li>
        </ul>

    {{/replace}}

{{/extend}}
