{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>
            Suggérer des cartes pour {{{deck.name}}}
            <small>
                <a href="/deck/suggest">
                    Retour à la vue d'ensemble
                </a>
            </small>
        </h1>
        {{#if deck.author}}
            <div class="alert alert-warning">
                Ce paquet est une suggestion de {{deck.author.name}} et n'est pas encore jouable.
            </div>
        {{/if}}
        <p>
            {{deck.description}}
        </p>

        <div class="alert alert-warning">
            En suggérant des cartes, vous acceptez que&hellip;
            <ul>
                <li>
                    vous avez la permission des personnes ou compagnies référencées
                </li>
                <li>
                    vous ne conservez aucun droit de licence sur le contenu de la carte
                </li>
                <li>
                    nous pouvons rejetter vos suggestions pour aucune raison
                </li>
                <li>
                    vous n'allez pas être crédité pour toutes les cartes acceptées
                </li>
            </ul>
            Nous pourrons vous révoquer l'accès à cette fonction si vous ne vous soumettez pas aux règles.
        </div>
    {{/replace}}

{{/extend}}
