{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <form id="create" method="post" class="form-horizontal">
            <h1>Héberger une nouvelle partie</h1>

            {{#if errors}}
                {{#each errors}}
                    <p class="has-error">
                        {{{this}}}
                    </p>
                {{/each}}

                <a href="/games">
                    Rejoindre une autre partie
                </a>
            {{else}}
                <p>
                    Créez votre propre partie et invitez du monde à se joindre à vous! Yé!
                </p>
            {{/if}}

            {{#unless errors}}
                <input type="submit" id="submit" value="Créer une partie">
            {{/unless}}

            {{#if userGames}}
                <br/><br/>

                <h4>
                    Vous ne trouvez plus vos propres parties? Quel bêta. Tenez, voilà une liste:
                </h4>

                <ul>
                    {{#each userGames}}
                        <li>
                            <a href="/game/join/{{id}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </form>
        <br/>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                $('#submit').click(function () {

                    $.ajax('/ajax/game/create', {
                        method: 'post',
                        success: function (data) {
                            window.location.href = '/game/lobby/' + data.id;
                        },
                        error: function () {
                            window.location.reload(true);
                        }
                    });

                    return false;
                });
            });
        </script>
    {{/append}}

{{/extend}}
