<div id="game-players-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Gérer joueurs et bans
                </h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-6">
                        <h4>Joueurs actuels</h4>
                        <ul>
                            <!-- ko foreach: players -->
                            <li class="player">
                                <strong data-bind="text: name"></strong>
                                <!-- ko if: (_.isFunction($root.game().host) ? $root.game().host() : $root.game().host).id != id -->
                                &nbsp;
                                <button class="btn btn-sm btn-default" data-bind="click: $root.kick">
                                    Expulser
                                </button>
                                <button class="btn btn-sm btn-danger" data-bind="click: $root.ban">
                                    Bannir
                                </button>
                                <!-- /ko -->
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>

                    <div class="col-xs-6">
                        <h4>Bans enregistrés</h4>
                        <ul>
                            <!-- ko foreach: $root.bans -->
                            <li class="player">
                                <strong data-bind="text: name"></strong>
                                &nbsp;
                                <button class="btn btn-sm btn-default" data-bind="click: $root.unban">
                                    Débannir
                                </button>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>

                {{!--
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Import / export ban list</h4>
                                <span class="help-block">
                                    Le code de la liste des bans est automatiquement mis à jour quand vous faites des changements ci-dessus.
                                </span>
                        <textarea class="ban-export"></textarea>

                        <div class="pull-right">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-import"></span>
                                Importer
                            </button>
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Enregistrer
                            </button>
                        </div>

                                <span class="help-block">
                                    Importer un code de la liste des bans va remplacer tous les paramètres ci-dessus.<br>
                                    Faites attention et considérez copier le code actuel dans un fichier texte vide en premier.
                                </span>

                                <span class="help-block">
                                    Enregistrer va stocker un témoin contenant le code sur votre appareil actuel.<br>
                                    Cette liste enregistrée va être automatiquement chargée à chaque fois que vous créez une nouvelle partie.
                                </span>
                    </div>
                </div>
                --}}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>
